/*-HEADER-*/

header{
    background-color:$color-fondo-secundario;
    align-items: center;
    padding: 10px;
    .navbar{
        width: 100%;
            hlogo{
                animation: ease-in animation 0.5s;
                transition: 1s ease-out;
                &:hover{
                    transform: scale(1.1);
                    }
                }
        .navbar-collapse{
            flex-grow: initial;
        }    
    }
}
.navbar-dark .navbar-nav .nav-link{
    color:$color-principal-font;
    font-size: nth($font-size , 7);
    font-weight: 400;
    transition: 0.3s ease all; 
    &:hover{
        color:$color-secundario-font;
        transform: scale(1.05);
    }
}