
/*-------------------MEDIA QUERY-------------------*/


/*---------------1130px--------------*/
@media screen and (max-width:1130px){
    header{
        flex-direction: column;
    }
    header a img{
        @include anchoyalto (50px , 50px );
    }
    .hero h1{
        font-size: nth($font-size , 7);
    }
    
    .hero h2{
        font-size: nth($font-size , 6);
    }
    .productos div h2{
        font-size: nth($font-size , 6);  
    }
    
    .productos div p{
        font-size: nth($font-size , 4);
    }
    body{
        background-color:$color-fondo-secundario;
    }
    
    .contenedorDespiece {
        h1{
        font-size: nth($font-size , 7);
        }
        .boxPartes{
            flex-direction: column;
        }
        .boxPartes div{
            padding: 15px;
            width: 100%;
        }
        .boxPartes div h2{
            font-size: nth($font-size , 6);
        }
        .boxPartes div p{
            font-size: nth($font-size , 4);
        }
        .boxPartes2{
            flex-direction: column;
        }
        .boxPartes2 div{
            padding: 15px;
            width: 100%;
        }
        .boxPartes2 div h2{
            font-size: nth($font-size , 6);
        }
        .boxPartes2 div p{
            font-size: nth($font-size , 4);
        }
        .boxPartes3{
            flex-direction: column;
            align-items: center;
        }
        .boxPartes3 div{
            width: 100%;
        }
        .boxPartes3 div h2{
            font-size: nth($font-size , 6);
        }
        .boxPartes3 div p{
            font-size: nth($font-size , 4);
        }
    }
    .imgIzq div{
        height: 250px;
    }
    .imgIzq a{
        padding-bottom: 80px; 
    }
    .imgIzq div h2{
        font-size: nth($font-size , 6);
    }
    .imgIzq div h3{
        font-size: 20px;
    }
    .imgIzq div p{
        font-size: nth($font-size , 4);
    }
    .imgDer div{
        height: 250px;
    }
    .imgDer div h2{
        font-size: nth($font-size , 6);
    }
    .imgDer div h3{
        font-size: nth($font-size , 6);
    }
    .imgDer div p{
        font-size: nth($font-size , 4);
    }
    .teclado{
        @include anchoyalto (250px , 97.5px );
    }
    .switch{
        @include anchoyalto (150px , 132px );
    }
    footer a img{
        @include anchoyalto (50px , 50px );
    }
    footer ul li a{
        font-size: nth($font-size , 4);      
    }    
}

/*---------------950px--------------*/
@media screen and (max-width:950px){
    .navbar-dark .navbar-nav .nav-link{
        color:$color-principal-font;
        font-size: nth($font-size , 6);
        font-weight: 400;
        transition: 0.3s ease all; 
    }
    .imgTeclado{
        width: 150px;        
    }
    .imgKeycaps{
        height: 100px;
    }
    .imgSwitch{
        height: 100px;
    }
    .grid-galeria{
        grid-template-columns: repeat(2,1fr);
        grid-auto-rows: 220px;

        .grid-item{
            grid-column: span 1;
            grid-row: span 1;
        }

        .grid-item h3{
            font-size: nth($font-size , 6);
        }

        .img15{
            grid-column: span 2;
        }
    }
}

/*---------------700px--------------*/
@media screen and (max-width:700px){
    .navbar-dark .navbar-nav .nav-link{
        color:$color-principal-font;
        font-size: nth($font-size , 5);
        font-weight: 400;
        transition: 0.3s ease all; 
    }
    .hero h1{
        font-size: nth($font-size , 5);
    }
    .hero h2{
        font-size: nth($font-size , 4);
    }
    .productos{
        flex-direction: column;
        padding: 5px;
    }
    .productos div h2{
        margin: 5px;
        font-size: nth($font-size , 5);
    }  
    .productos div p{
        font-size: nth($font-size , 4);
    }

    .grid-galeria{
        .grid-item h3{
            font-size: nth($font-size , 5);
        }
    }

    .contKey{
        .imgIzq{
            height: 430px;
            flex-direction: column;
            align-items: center;        
        }
        .imgIzq div{
            height:150px;
        }
        .imgIzq div h2{
            padding-top: 20px;
        }
        .imgIzq a{
            padding-top: 80px;
            padding-bottom: 20px;
        }
        .imgDer{
            height: 430px;
            flex-direction: column;
            align-items: center;
        }
        .imgDer div{
            height:150px;
        }    
        .imgDer div h2{
            padding-top: 20px;
        }
        .imgDer a{
            padding-top: 80px;
            padding-bottom: 20px;
        }
    }

.contenedor{
    .mb-3{
        font-size: nth($font-size , 5);
    }

    .gmap h2{
        font-size: nth($font-size , 5);
    }
    .gmap iframe{
        width: 320px;
        height: 240px;
    }
}
}
/*---------------650px--------------*/
@media screen and (max-width:650px){
    .navbar-dark .navbar-nav .nav-link{
        color:$color-principal-font;
        font-size: nth($font-size , 4);
        font-weight: 400;
        transition: 0.3s ease all; 
    }
    .hero h1{
        font-size: nth($font-size , 4);
    }

    .hero h2{
        font-size: nth($font-size , 3);
    }
    .productos div h2{
        margin: 5px;
        font-size: nth($font-size , 4);
    }  
    .productos div p{
        font-size: nth($font-size , 3);
    }

    .grid-galeria{
        .grid-item h3{
            font-size: nth($font-size , 4);
        }
    }    

    footer ul li a{
        font-size: nth($font-size , 3);
    }
}

/*---------------575px--------------*/
@media screen and (max-width:575px){
    .navbar-dark .navbar-nav .nav-link{
        color:$color-principal-font;
        font-size: nth($font-size , 4);
        font-weight: 400;
        transition: 0.3s ease all; 
    }
    .nav-link{
        padding: 0px;
        text-align: center;
    }
    
    .navbar{
        .hlogo{
            width: 40px;
            height: 40px;
        }
    }
    .footer a img{
        @include anchoyalto (30px , 30px );
    }

    .footer .redes a{
        @include anchoyalto (25px , 25px );
        margin: 5px;
    }
    
    .bi{
        font-size: 1.5rem;
    }
}

/*---------------565px--------------*/
@media screen and (max-width:565px){
    header nav ul{
        flex-direction: column;
        text-align: center;
    }
    header nav ul li{
        margin: 0px;
    }
    header nav ul li a{
        font-size: nth($font-size , 2);
    }
    .hero h1{
        font-size: nth($font-size , 4);
    }
    .hero h2{
        font-size: nth($font-size , 3);
    }
    .productos div{
        width: 300px;
    }
    .productos div h2{
        font-size: nth($font-size , 3);   
    }    
    .productos div p{
        font-size: nth($font-size , 2);
    }
    .imgTeclado{
        width: 75px;        
    }
    .imgKeycaps{
        height: 50px;
    }
    .imgSwitch{
        height: 50px;
    }
    .grid-galeria{
        grid-template-columns: 1fr;
        .grid-item{
            grid-column: span 1 ;
            grid-row: span 1 ;
        }
    }
    
    .contenedorDespiece{
        width:100%;
    }
    .case{
        width: 320px;
    }
    .ytvideo{
        @include anchoyalto (320px , 240px );
    }
    .plates{
        width: 320px;
    }
    .switches{
        width: 320px;
    }
    .keys{
        width: 320px;
    }

    footer ul li a{
        font-size: nth($font-size , 2);       
    }        
    footer div a img{
        @include anchoyalto (25px , 25px );
    }
}

/*---------------430px--------------*/
@media screen and (max-width:430px){
    .navbar-dark .navbar-nav .nav-link{
        color:$color-principal-font;
        font-size: nth($font-size , 3);
        font-weight: 400;
        transition: 0.3s ease all; 
    }
    
    .hero h1{
        font-size: nth($font-size , 3);
        text-align: center;
    }
    .hero h2{
        font-size: nth($font-size , 2);
    }
    .productos div h2{
        font-size: nth($font-size , 2);  
    }    
    .productos div p{
        font-size: nth($font-size , 1);
    }
    .redes a{
        @include anchoyalto (15px , 15px );
        margin: 5px;
    }
    .bi{
        font-size: 1rem;
    }
}
